.Accounts {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  max-width: 1200px;
  min-width: 900px;
}

.TableHeadRow {
  border-top: 1px solid rgba(224, 224, 224, 1);
  background-color: #c0edff;
  height: 40px !important;
}

.TableHeadRow > .Cell {
  color: #0C0D0E;
  /* text-align: center !important; */
}

.TableBodyRow {
  height: 40px !important;
}

.EditButton, .DeleteButton, .RefreshButton, .AddButton {
  padding: 6px !important;
}