.StudentAccounts {
  margin-top: 20px;
}

.StudentTableHeadRow {
  background-color: #fafafb;
  border-top: 1px solid rgba(224, 224, 224, 1);
  height: 40px !important;
}

.StudentTableHeadRow > .Cell {
  color: #0C0D0E;
  /* border-right: 1px solid rgba(224, 224, 224, 1); */
} 

.StudentTableBodyRow {
  height: 40px !important;
}