.EditModal {
  width: 300px;
  padding: 5px 15px 8px 15px;
  border-top: solid #3f51b5 3px;
}

.Input {
  height: 30px;
  margin: auto;
  border-radius: 5px;
  margin: 8px;
  padding: 2px;
  margin-right: 0;
  border: 1px solid rgb(185, 183, 183);
}

.InputError {
  height: 30px;
  margin: auto;
  border-radius: 5px;
  margin: 8px;
  padding: 2px;
  margin-right: 0;
  border: 1px solid red;
}

.InputError:focus {
  outline: none;  
}

.InputHolder {
  display: flex;
  flex-direction: row;
  margin: auto;
}


.InputLabel {
  font-size: 14px;
  width: 200px;
  margin: auto;
  color: #0C0D0E;
  font-weight: 500;
}

.ButtonHolder {
  width: 100px; 
  margin: auto;
  margin-top: 5px;
  padding: 5px;
}

.CloseButton {
  padding: 0px !important;
}

.EditHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  padding: 3px;
  color: #3f51b5;
  font-weight: 500;
  font-size: 18px;
}

.ErrorMsg {
  color: red;
  font-size: 12px;
  height: 13px;
  text-align: right;
}