.SurveyVerDetail {
  min-height: 300px;
  height: 800px;
  width: 100%;
}

.CloseButton {
  padding: 5px !important;
  background-color: transparent !important;
}

.Header {
  border-top: solid #3f51b5 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(163, 163, 163);
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: #3f51b5;
  font-weight: 500;
  font-size: 18px;
  background-color: #fafbfb;
}

.Content {
  padding: 10px 30px 10px 30px;
  overflow: auto;

}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  font-weight: bold;
}

ol ol {
  margin: 0 0 0 2em; /* Add some left margin for inner lists */
  font-weight: normal;
}

.FormList p{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #eee;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;   
}

.FormList p:hover{
  background: #97ddfd;
}   

.FormList p:before {
  content: counter(li, upper-roman);
  counter-increment: li;
  position: absolute; 
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #72cffa;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
.FormList ol p:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #72cffa;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.FormList p:after{
  position: absolute; 
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;               
}

.FormList p:hover:after{
  left: -.5em;
  border-left-color: #72cffa;             
}   

.VersionInput {
  height: 24px;
  padding: 2px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid rgb(185, 183, 183);
  text-align: center;
}