.SurveyForm {
  min-height: 300px;
  max-height: 800px;
  min-height: 400xp;
  width: 100%;
}

.CloseButton {
  padding: 5px !important;
  background-color: transparent !important;
}

.Header {
  border-top: solid #3f51b5 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(163, 163, 163);
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: #3f51b5;
  font-weight: 500;
  font-size: 18px;
  background-color: #fafbfb;
}

.Content {
  padding: 10px 20px 10px 20px;
  overflow: auto;
}

.RadioGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RadioLabel {
  margin-left: 0;
  margin-right: 0;
  width: 48px;
  font-weight: 500;
  text-align: center;
}