.LecturerClassList {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 70%;

}

.RefreshButton, .ShowButton {
  padding: 6px !important;
}

.TableHeadRow {
  border-top: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
  border-left: 1px solid rgba(224, 224, 224, 1);
  background-color: #ececec;
  height: 40px !important;
}

.TableBodyRow {
  border-right: 1px solid rgba(224, 224, 224, 1);
  border-left: 1px solid rgba(224, 224, 224, 1);
}

.TableHeadRow > .Cell {
  color: #0C0D0E;
}

.TableBodyRow {
  height: 40px !important;
}