.Home {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.LeftArea {
  width: 90%;
}

.RightArea {
  padding: 10px;
  box-shadow: 0 0 0 rgba(12,13,14,0.05);
  box-sizing: border-box;
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
  border-left: 1px solid #d6d9dc;
}

.Calendar {
  margin: auto 10px;
  width: 275px;
  border-radius: 5px;
  border-color: #3f51b5;
}

.Clock {
  margin:auto;
  margin-bottom: 30px;
  margin-top: 30px;
}