.NavigationBar {
  height: 70px;
  background-color: #fafbfb;
  color: #242729;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #3f51b5 solid 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}

.SurveyIcon {
  margin-left: 20px;
  height: 70px;
}

.Header {
  font-weight: 620;
  color: #4499b8;
  font-size: 27px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  pointer-events: none;
}

.Username {
  margin: auto;
  margin-left: 3px;
  font-size: 14px;
  text-transform: capitalize;
}

.SignOut {
  background-color: transparent !important;
  width: 70px;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

.NavContent, .Account {
  display: flex;
  flex-direction: row;
}

.Account {
  text-transform: none !important;
}

.DropDown {
  min-width: 5px !important;
  width: 10px;
  background-color: transparent !important;
  margin: auto !important;
  margin-right: 10px !important;
}