.SurveyList {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 95%;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
}

.EditButton, .DeleteButton, .RefreshButton, .ShowButton {
  padding: 6px !important;
}

.TableHeadRow {
  border-top: 1px solid rgba(224, 224, 224, 1);
  background-color: #ececec;
  height: 40px !important;
}

.TableHeadRow > .Cell {
  color: #0C0D0E;
  /* text-align: center !important; */
}

.TableBodyRow {
  height: 40px !important;
}