.SearchAccount {
  margin: 2px;
}

.Input {
  margin: 3px;
  height: 24px;
  padding: 2px;
  border-radius: 3px;
  border: 1px rgb(190, 190, 190) solid;
}

.Select {
  padding: 2px;
  height: 30px;
  margin: 3px;
  border-radius: 3px;
  border: 1px rgb(190, 190, 190) solid;

}

.SearchForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.SearchButton {
  margin: 3px !important;
  padding: 3px !important;
  min-height: 30px !important;
  height: 30px;
  min-width: 30px !important;
  width: 30px;
}