.NavigationBar {
  height: 40px;
  background-color: #fafafb;
  color: #242729;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-top: #3f51b5 solid 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}

.SurveyIcon {
  height: 40px;
  width: 40px;
}

.Header {
  font-weight: 620;
  color: #3f51b5;
  font-size: 27px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  width: 80%;
}

.Username {
  margin: auto;
  font-size: 12px;
}

.SignOut {
  margin: auto;
  text-decoration: none;
}