
.SurveyVersion {
  margin: auto;
  margin-top: 30px;
  width: 1000px;
}

.EditButton, .DeleteButton, .RefreshButton, .ShowButton, .GenerateDefaultBtn {
  padding: 6px !important;
}

.SurveyVerTable {
  border: 1px solid rgba(224, 224, 224, 1);
}

.TableHeadRow {
  border-top: 1px solid rgba(224, 224, 224, 1);
  background-color: #ececec;
  height: 40px !important;
}

.TableHeadRow > .Cell {
  color: #0C0D0E;
  /* text-align: center !important; */
}

.TableBodyRow {
  height: 40px !important;
}